<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rimon's Daily</title>
    <link rel="stylesheet" href="/css/posts.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="brand"><h2>RIMON's Daily</h2></div>
      <div class="navitems">
        <ul>
          <a href="/"><li>HOME</li></a>
          <a href="/about"><li>ABOUT US</li></a>
          <a href="/contact"><li>CONTACT</li></a>
        </ul>
      </div>
    </div>
    <div class="blog">
      <div class="posts">
        <div class="post-title"><h2><%= postTitle %></h2></div>
        <div class="post-content">
          <p><%= postContent %></p>
        </div>
      </div>
    </div>
  </body>
</html>
