body {
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.navbar {
  display: flex;
  background-color: azure;
  margin-top: 0;
  padding: 2% 15%;
  justify-content: space-between;
}

.navbar h2 {
  margin-top: 0;
  padding-top: 10px;
}

.navbar ul {
  list-style-type: none;
  display: block;
}

.navbar li {
  float: left;
  padding-left: 10px;
}

.page-title {
  padding: 0 15%;
}

a {
  text-decoration: none;
  color: black;
}

.b4post {
  padding: 0 15%;
}

.blog {
  padding: 0 15%;
}

.blog p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
